.collapsible {
  background-color: #FFF;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  text-decoration: none;
  box-shadow: 0 0px 4px rgba(0,0,0,.3);
  color: #333;
}

.active, .collapsible:hover {
  background-color: #555;
  text-decoration: none;
  color: #FFA804;
}

.collapsible:after {
  content: '\002B';
  color: inherit;
  font-weight: bold;
  float: right;
}

.active .collapsible:after {
  content: "\2212" !important;
}

.content{
  padding: 0 18px;
  background-color: #f5f5f5;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  margin-bottom: 10px;
}

.content p:first-child{
  padding-top: 18px !important;
}
.content p:last-child{
  padding-bottom: 18px !important;
}

.content a:last-child{
  padding-bottom: 18px !important;
}
