.collapsible {
  background-color: #FFF;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  text-decoration: none;
  box-shadow: 0 0px 4px rgba(0,0,0,.3);
  color: #333;
}

.content .summary{
  max-height: auto;
  display: block;
  padding-left: 18px;
  padding-right: 18px;
}

.active, .collapsible:hover {
  background-color: #555;
  text-decoration: none;
  color: #FFA804;
}

.collapsible:after {
  content: '\002B';
  color: inherit;
  font-weight: bold;
  float: right;
  /* margin-left: 5px; */
}

.active .collapsible:after {
  content: "\2212" !important;
}

.content{
  padding: 0 18px;
  background-color: #f5f5f5;
  padding-bottom: 10px;
  margin-bottom: 1em;
}

.content .expandable{
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.content *{
  /* padding: 10px 0; */
  padding-top: 10px;
  /* margin-bottom: 10px; */
}
